.container__img-div {
  width: 60vw;
  min-width: 350px;
  max-width: 950px;
  max-height: 950px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn,
.ans-body,
.main-body {
  width: 28vw;
  padding: 1em;
  min-width: 350px;
  max-width: 950px;
  max-height: 950px;
  margin: 20px 0;
  border-radius: 1.5rem;
  border: 1rem solid var(--text-color-opac);
}

.ans-body {
  text-align: center;
}

.canvas-img,
.canvas-result {
  width: 26vw;
  margin: auto;
  display: none;
  min-width: 310px;
  max-width: 830px;
  min-height: 310px;
  max-height: 830px;
}

#inputImg {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
}

.input-img-label {
  @include flex;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  min-width: 30rem;
  min-height: 30rem;
  background-color: transparent;
}

.upload-icon-btn {
  @include flex;
  border-radius: 5rem;
  color: var(--text-color-opac);

  span {
    text-align: center;

    .img-tag {
      opacity: 0.8;
      display: inline;
      color: var(--color-theme);
    }
  }
}
