.btn {
  @include flex;
  width: 60vw;
  height: 4.5rem;
  margin: 10px auto;
  border: none;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  transition: background 0.5s;
  background-color: var(--color-theme);

  &:hover {
    border: none;
    background-color: transparent !important;
  }

  svg {
    width: 1.5rem;
    margin: 0 1rem;
    fill: var(--text-color);
  }
}

.btns {
  margin: auto;
  display: none;
  text-align: center;
  flex-direction: column;

  & > div {
    display: block;
  }
}

#removeBGDiv {
  display: flex;
}

.customBtns {
  @include flex;
  font-size: 1.6rem;
  display: none;
  width: 60vw;
  flex-direction: row;
  gap: 1rem;
}

.customBtn {
  @include flex;
  width: 15rem;
  height: 4.5rem;
  border: none;
  margin: 10px 0;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--text-color);
  transition: background 0.5s;
  background-color: var(--color-theme);
}

.remove-background__section {
  display: flex;

  span {
    font-size: 115%;
    color: #f85959;

    &::selection {
      color: var(--text-color);
      background-color: #f85959;
    }
  }
}

.remove-background__button {
  &:hover {
    border: 1px solid var(--color-theme);
  }
}

.black-and-white__button {
  &:hover {
    background: linear-gradient(
      -45deg,
      whitesmoke,
      #ccc,
      #333,
      black
    ) !important;
    outline-offset: 0;
    outline-style: none;
    outline-color: transparent;
  }
}

.play-with-colors__button {
  &:hover {
    border: 1px solid var(--color-theme);
  }
}

.red-of-rgb {
  background-color: var(--red);
}

.green-of-image {
  background-color: var(--green);
}

.blue-of-rgb {
  background-color: var(--blue);
}

.hidden-playground {
  input[type="range"] {
    display: block;
    margin: 2rem auto;
    width: 50%;
  }
}
