.settings-popup {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #33333380;
  color: var(--text-color);
  position: fixed;
  top: 0;
  z-index: 111;
  display: none;
}

.settings-popup__box {
  width: 30rem;
  height: 40rem;
  border: 0.05rem solid var(--text-color);
  border-radius: 0.75rem;
  background-color: var(--nav-background);
  position: relative;

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0.25em;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--text-color);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

.settings-popup__close-button {
  position: absolute;
  font-size: 2.2rem;
  cursor: pointer;
  top: 1.75rem;
  right: 1.75rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  transition: 250ms;

  &:hover {
    color: var(--nav-background);
    background-color: var(--color-theme);
  }
}

.settings-popup__content {
  width: 100%;
  height: 87%;
  padding: 1.5rem 1rem;
  overflow-y: scroll;
}
